body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    padding: 20px 20px 18px 20px;
    display: flex;
    justify-content: space-around;
    width: 420px;
    margin: 50px auto 0 auto;
    color: #14342B;
    background: #AEC5EB;
    border-bottom: 8px solid #744FC6;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile{
    width: 150px;
}

.card h1, p, h4{
    border-bottom: 2px solid #AEC5EB;
    transition: 200ms;
}

.card h1:hover{
    border-bottom: 2px solid #744FC6; 
}

.card p:hover{
    border-bottom: 2px solid #744FC6; 
}

.card h4:hover{
    border-bottom: 2px solid #744FC6; 
}